@import url("reset.css");
@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap");

html,
body {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  font-family: "Lora", serif;
  margin: 0;
}

body {
  background: #1b293a;
}

main {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2em 0;
}

/* Whole Form Section */
#MainFormSection {
  border: 5px solid #1e1e1e;
  border-radius: 12px;
  background-color: azure;
  max-width: 820px;
  width: 95%;
  min-width: 420px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: stretch;
}

/* Left Side Section */
#MainFormSection #leftSideSection {
  flex: 1;
  background: url("./img/bgIMG.jpg") center/cover no-repeat;
}

/* Right Side Section */
#MainFormSection #rightSideSection {
  flex: 1;
  padding: 1em;
}

#MainFormSection #rightSideSection form {
  padding: 1em;
}

#MainFormSection #rightSideSection form div {
  padding-top: 1em;
}

#MainFormSection #rightSideSection form .label {
  font-size: 1.2rem;
}

/* Form Inputs */
.form-input {
  border: 1px solid #000;
  border-radius: 5px;
  height: 40px;
  width: 100%;
  box-sizing: border-box;
  padding: 0 12px;
  color: #282828;
  font-size: 14px;
  margin: 0;
  user-select: auto;
}

.form-input:disabled {
  background-color: rgba(17, 18, 21, 0.251);
  cursor: not-allowed;
}

.form-input:focus {
  border: 3px solid #fff;
  background-color: rgba(65, 105, 225, 0.127);
  font-weight: 700;
}

.form-input:active {
  border: 5px solid #1d3068;
  background-color: royalblue;
}

/* Two-Input Containers */
#f_l_nameSection,
#bdayNumberSection {
  display: flex;
  gap: 1em;
}

#f_l_nameSection section,
#bdayNumberSection section {
  flex-grow: 1;
}

.verifyPasswordSection {
  padding-top: 12px;
}

/* Button Containers */
#buttonContainers {
  display: flex;
  justify-content: center;
  padding-top: 12px;
}

/* Buttons */
button {
  background-image: linear-gradient(#0dccea, #0d70ea);
  border: none;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.3) 0 5px 15px;
  color: #fff;
  cursor: pointer;
  font-family: Montserrat, sans-serif;
  font-size: 0.9em;
  margin: 0 15px;
  padding: 10px 15px;
  text-align: center;
  user-select: none;
  transition: transform 0.2s cubic-bezier(0.22, 0.61, 0.36, 1),
    background-image 0.2s;
}

#resetButton {
  background-image: linear-gradient(#a90404, #ea180d);
}

button:hover {
  transform: translateY(-2px);
}

#submitButton:hover {
  background-image: linear-gradient(#065dd8, #023d90);
}

#resetButton:hover {
  background-image: linear-gradient(#ef4747, #d80606);
}

#submitButton:disabled {
  background-image: linear-gradient(#d9e3e4, #dee2e7);
  cursor: not-allowed;
}

/* Responsive Layout */
@media (max-width: 700px) {
  #MainFormSection {
    flex-direction: column; /* Stacks sections vertically */
  }
  #leftSideSection {
    min-height: 200px; /* Adjust for smaller viewports */
  }
}
